<div class="border border-info mt-2 container bg-light pt-2 pb-1">
  <p>пройдена: <%= game.finished_at.strftime("%-d/%-m/%y: %H:%M %Z") %></p>
  <p>правильных ответов: <%= game.correct %></p>
  <p>всего примеров: <%= game.attempt %></p>
  <p>общее время решения: <%= total_time(game) %></p>
  <p>среднее время решения одного примера: <%= average_time(game) %></p>
  
  <% if game.user == current_user %>
    <%= link_to 'Удалить игру', user_game_path(game.user, game),
      method: :delete, data: {confirm: 'Точно удалить?'}, class: "btn btn-outline-warning btn-sm" %>
  <% end %>
</div>

