<h3>Новая игра</h3>
<p>Сколько примеров желаете решить?</p>

  <% if flash.any? %>
    <% flash.each do |key, value| %>
      <div class="mt-3 alert alert-primary col align-items-center">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
          <li>
            <%= value %>
          </li>
        </ul>
      </div>
    <% end %>
  <% end %>

  <%= form_for [@new_game.user, @new_game] do |f| %>
    <div class="form-field">
      <%= f.label "Сколько примеров хотите решить", class: 'form-label' %>
      <%= f.number_field :attempt, in: 10..100, step: 1, class: 'form-textarea' %><br />
      <em>от 10 до 100 примеров</em>
    </div>
    <div class="form-action">
      <%= f.submit 'Начать игру', class: 'button button-green' %>
    </div>
  <% end %>
